<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
        <bean id="disciplineService" class="br.com.compositeam.businessmodel.service.DisciplineService">
	    <property name="disciplineDAO" ref="disciplineDAO"/>
	</bean>	
	<bean id="disciplineDAO" class="br.com.compositeam.businessmodel.dao.DisciplineDAOImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	<bean id="userService" class="br.com.compositeam.businessmodel.service.UserService">
	    <property name="userDAO" ref="userDAO"/>
	</bean>	
	<bean id="userDAO" class="br.com.compositeam.businessmodel.dao.UserDAOImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
		<property name="roleDAO" ref="roleDAO"></property>
	</bean>
	<bean id="roleService" class="br.com.compositeam.businessmodel.service.RoleService">
	    <property name="roleDAO" ref="roleDAO"/>
	</bean>	
	<bean id="roleDAO" class="br.com.compositeam.businessmodel.dao.RoleDAOImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	<bean id="personService" class="br.com.compositeam.businessmodel.service.PersonService">
	    <property name="personDAO" ref="personDAO"/>
	</bean>	
	<bean id="personDAO" class="br.com.compositeam.businessmodel.dao.PersonDAOImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
</beans>